section.intro
    article
        .wrap.name
            .box
                figure
                    img(src="/assets/images/logo.png", alt="")
                    figcaption [카에]
                p Korean Art in Europe
        .wrap.flag
            .box
                figure
                    a(href="/html/italy.html")
                        img(src="/assets/images/flags/italy-flag.png", alt="italy flag")
                figure
                    a(href="/html/korea.html")
                        img(src="/assets/images/flags/korea-flag.png", alt="korea flag")