section.profile
    .wrap
        h3 정예경 (Jeong Yea-kyung) 
            span 대표
        .academy -
            p 대전 목원대학교 음악교육과 졸업
            p 공주사범대학 교육대학원 졸업
            p 로마 A.I.D.M 아카데미 / A.R.M 아카데미 / A.R.T 아카데미 디플로마 [성악, 지휘]
        .before - 前
            p 2008 - 2013 | 주 이탈리아 한인회 문화예술위원장
            p 2010 | 대 백제 문화재 홍보대사
            p 2010 - 2018 | 원주 한지 홍보대사
                span.comment [원주 한지 테마파크와 이태리 파브리아노 박물관 MOU 체결]
            p 2012 | 순천 정원 엑스포 홍보대사
            p 2013 - 2014 | 문화관광부기획 밀라노 트리엔날레 뮤지엄 전시 기획의원
        .now - 現
            p K.A.E(카에) Korean Art in Europe 대표
            p 국내 외 전시 공연기획
        .more more
            img(src="/assets/images/icons/arrow.png", alt="")
    .footer
        | ⓒ Korean art in europe. All rights reserved.