section.profile
    .wrap
        p.name 정예경 (Jeong Yea-kyung)
        p.position K.A.E [카에] Korean Art in Europe 대표
        .more MORE
            img(src="/assets/images/icons/arrow.png", alt="")
    .footer
        | ⓒ Korean art in europe. All rights reserved.