extends ../_layout

block main
    section.detail.container
        .wrap
            .description
                figure
                    img(src="/assets/images/italy/gallery/cheongja_middle.png", alt="")
                .contents
                    .box
                        .title 2014 밀라노 트리엔날레 뮤지엄 한국관 전시[기획의원]
                        .time 기간
                            span 2014년 4월 8일 - 4월 13일
                        .place 장소
                            span 이태리 밀라노 트리엔날레 뮤지엄
                        .cooperation
                            p 협력기관
                            span 문화관광 체육부, 주이탈리아 대사관
            .masonry
                .grid
                    .grid-sizer
                    - var n = 1;
                    while n < 16
                        .grid-item
                            img(src=`/assets/images/example/${n++}.JPG`, alt="")
            