extends ../_layout

block main
    section.italy.container
        .wrap
            .title Portfolio 
                span in italy
            ul.gallery
                -
                    var gallerys = [
                        {
                            img: '/assets/images/italy/gallery/2014.png',
                            titleTop: '2014 밀라노 트리엔날레',
                            titleBottom: '뮤지엄 한국관 전시 [기획의원]'
                        },
                        {
                            img: '/assets/images/italy/gallery/2013.png',
                            titleTop: '2013 밀라노 트리엔날레',
                            titleBottom: '뮤지엄 한국관 전시 [기획의원]'
                        },
                        {
                            img: '/assets/images/italy/gallery/muhyoung_middle.png',
                            titleTop: '서울시 무형 문화재',
                        },
                        {
                            img: '/assets/images/italy/gallery/hanji_middle.png',
                            titleTop: '한지 전시회',
                        },
                        {
                            img: '/assets/images/italy/gallery/najeon_middle.png',
                            titleTop: '한국의 나전과 칠예전',
                        },
                        {
                            img: '/assets/images/italy/gallery/cheongja_middle.png',
                            titleTop: '2009년 강진고려청자',
                            titleBottom: '유럽순회전'
                        },
                        {
                            img: '/assets/images/italy/gallery/maedeup_middle.png',
                            titleTop: '한국의 매듭전',
                        },
                        {
                            img: '/assets/images/italy/gallery/concert.png',
                            titleTop: '콘서트와 한국 전통',
                            titleBottom: '공예 전시회'
                        },
                        {
                            img: '/assets/images/italy/gallery/vocal.png',
                            titleTop: '2010-2014년 재이 한국대사관 후원',
                            titleBottom: '한국 성악가 이탈리아 도시 순회 연주회'
                        },
                        {
                            img: '/assets/images/italy/gallery/antonio.png',
                            titleTop: '"안토니오 파올루찌"',
                            titleBottom: '바티칸 박물관 관장님과 함께'
                        },
                    ];
                each g in gallerys
                    li
                        figure
                            a(href="")
                                img(src=`${g.img}`, alt="")
                                figcaption= g.titleTop
                                    p= g.titleBottom
    footer
        | ⓒ Korean art in europe. All rights reserved.