extends ../../_layout

block main
    section.detail.container.milano-2013
        .wrap
            .description
                figure
                    img(src="/assets/images/italy/2013/title.jpg", alt="")
                .contents
                    .box
                        .title 2013 밀라노 트리엔날레 뮤지엄 한국관 전시[기획의원]
                        .time 기간
                            span 2013년 4월 9일 - 4월 14일
                        .place 장소
                            span 이태리 밀라노 트리엔날레 뮤지엄
                        .cooperation
                            p 협력기관
                            span 문화관광 체육부, 주이탈리아 대사관
            .galley-wrap
            .masonry
                .grid
                    .grid-sizer
                    -
                        var images = [
                            {
                                img: '1',
                                comment: '▴ 세계적인 건축가이자 디자이너 Domus 편집장인 "Mario Bellini"와 함께'
                            },
                            {
                                img: '2',
                            },
                            {
                                img: '3',
                            },
                            {
                                img: '4',
                            },
                            {
                                img: '5',
                            },
                            {
                                img: '6',
                            },
                            {
                                img: '7',
                            },
                            {
                                img: '8',
                            },
                        ]
                    each image in images
                        .grid-item
                            img(src=`/assets/images/italy/2013/${image.img}.jpg`, alt="")
                            p= image.comment
    footer
        | ⓒ Korean art in europe. All rights reserved.
            
