extends ../../_layout

block main
    section.detail.container.hanji
        .wrap
            .description
                figure
                    img(src="/assets/images/italy/gallery/hanji-2011.png", alt="")
                .contents
                    .box
                        .title 2011 한지 전시회
                            .italy Museo Nazionale Delle Arti E Tradizioni Popolari .Roma
                        .time 기간
                            span 2011년 6월 9일 - 8월 7일
                        .place 장소
                            span 이태리 국립 민속 박물관
                        .cooperation
                            p 협력기관
                            span 
                                | 원주 한지개발원, 원주 한지테마파크, 원주시, 강원도,
                                | <br/>주한 이탈리아 대사관
            .galley-wrap
            .masonry
                .grid
                    .grid-sizer
                    -
                        var images = [
                            {
                                img: '1',
                            },
                            {
                                img: '2',
                            },
                            {
                                img: '3',
                            },
                            {
                                img: '4',
                                comment: '▴ 김영석 대사, 이창복 이사장, 박물관 관장'
                            },
                            {
                                img: '5',
                            },
                            {
                                img: '6',
                            },
                            {
                                img: '7',
                            },
                            {
                                img: '8',
                            },
                            {
                                img: '9',
                            },
                            {
                                img: '10',
                            },
                            {
                                img: '11',
                            },
                            {
                                img: '12',
                            },
                            {
                                img: '13',
                            },
                        ]
                    each image in images
                        .grid-item
                            img(src=`/assets/images/italy/hanji-2011/${image.img}.jpg`, alt="")
                            p= image.comment
    footer
        | ⓒ Korean art in europe. All rights reserved.