extends ../../_layout

block main
    section.detail.container.najeon
        .wrap
            .description
                figure
                    img(src="/assets/images/italy/gallery/najeon_middle.png", alt="")
                .contents
                    .box
                        .title 2010 한국의 나전과 칠예전
                        .time 기간
                            span 2010년 4월 8일 - 5월 12일
                        .place 장소
                            span 이태리 민속박물관
                        .cooperation
                            p 협력기관
                            span 문화재청, 주한 이탈리아 대사관, 외교통상부, 이탈리아 문화부
            .galley-wrap
            .masonry
                .grid
                    .grid-sizer
                    -
                        var images = [
                            {
                                img: '1',
                            },
                            {
                                img: '2',
                            },
                        ]
                    each image in images
                        .grid-item
                            img(src=`/assets/images/italy/najeon/${image.img}.jpg`, alt="")
                            p= image.comment
    footer
        | ⓒ Korean art in europe. All rights reserved.
