extends ../../_layout

block main
    section.detail.container.milano-2014
        .wrap
            .description
                figure
                    img(src="/assets/images/represent/triennale-2014.png", alt="")
                    p ▴ 디자이너 Anna Giili와 함께
                .contents
                    .box
                        .title 2014 밀라노 트리엔날레
                            .italy Triennale di Milano
                        .time 기간
                            span 2014년 4월 8일 - 4월 13일
                        .place 장소
                            span 이태리 밀라노 트리엔날레 뮤지엄
                        .cooperation
                            p 협력기관
                            span 문화관광 체육부, 주이탈리아 대사관
            .galley-wrap
            .masonry
                .grid
                    .grid-sizer
                    -
                        var images = [
                            {
                                img: '1',
                            },
                            {
                                img: '2',
                            },
                            {
                                img: '3',
                            },
                            {
                                img: '4',
                            },
                            {
                                img: '5',
                            },
                            {
                                img: '6',
                            },
                        ]
                    each image in images
                        .grid-item
                            img(src=`/assets/images/italy/triennale-2014/${image.img}.jpg`, alt="")
                            p= image.comment
    footer
        | ⓒ Korean art in europe. All rights reserved.