extends ../../_layout

block main
    section.detail.container.tango
        .wrap
            .description
                //- figure
                //-     img(src="/assets/images/korea/roma/title.png", alt="")
                .contents
                    .box.max-none
                        .title 2019 탱고 더 패션
                        //- .time 기간
                        //-     span 2007년
                        //- .place 장소
                        //-     span 로마 오페라극장
                        //- .cooperation
                        //-     p 협력기관
                        //-     span
                        //-         | 성신여대, 라치오주, 외교통상부, 주한 이탈리아 대사관,
                        //-         | 주한 이탈리아 문화원
            .galley-wrap
            .masonry
                .grid
                    .grid-sizer
                    -
                        var images = [
                            {
                                img: '1',
                            },
                            {
                                img: '2',
                            },
                            {
                                img: '3',
                            },
                            {
                                img: '4',
                            },
                            {
                                img: '5',
                            },
                            {
                                img: '6',
                            },
                            {
                                img: '7',
                            },
                            {
                                img: '8',
                            },
                        ]
                    each image in images
                        .grid-item
                            img(src=`/assets/images/korea/tango/${image.img}.png`, alt="")
                            p= image.comment
    footer
        | ⓒ Korean art in europe. All rights reserved.


