header
    .container
        figure.logo
            //- a(href="/index.html")
            //-     img(src="/assets/images/logo.png", alt="")
        nav
            ul
                li
                    .about--us
                        a(href="/html/about-us.html") about us
                li
                    .italian
                        a(href="/html/italy.html") Italian portfolio
                li
                    .korean
                        a(href="/html/korea.html") Korean portfolio
        .hamburger.hamburger--squeeze.js-hamburger
            .hamburger-box
                .hamburger-inner