header.logo-header
    figure
        a(href="/index.html")
            img(src="/assets/images/logo.png", alt="")
    .introduction
        a(href="/html/introduction.html") introduction
    .portfolio 
        a(href="") portfolio